.suggestion-item .css-editor-suggestion-description {
	color: var(--text-muted);
}

.suggestion-item .css-editor-status {
	margin-top: auto;
	margin-bottom: auto;
}

.css-editor-create-modal input,
.css-editor-rename-modal input {
	width: 100%;
}

.css-editor-color-picker-wrapper {
	display: inline-block;
	margin-left: var(--size-2-1);
	--swatch-height: 15px;
	--swatch-width: 15px;

	& > input[type="color" i] {
		block-size: var(--swatch-height);
	}
}
