.suggestion-item .css-editor-suggestion-description {
	color: var(--text-muted);
}

.suggestion-item .css-editor-status {
	margin-top: auto;
	margin-bottom: auto;
}

.css-editor-create-modal input,
.css-editor-rename-modal input {
	width: 100%;
}

.css-editor-color-picker-wrapper {
	display: inline-block;
	margin-left: var(--size-2-1);
	--swatch-height: 15px;
	--swatch-width: 15px;

	& > input[type="color" i] {
		block-size: var(--swatch-height);
	}
}

.workspace-leaf-content[data-type="css-editor-view"] {
	& > .view-content {
		display: flex;
		flex-direction: column;
		padding: 0px;
	}

	& .cm-editor {
		min-height: 0px;
		flex: 1 1 0%;
	}

	& .cm-scroller {
		padding: var(--file-margins);
	}

	& .obsidian-search-match-highlight {
		box-shadow: 0 0 0px 3px var(--text-accent);
		mix-blend-mode: var(--highlight-mix-blend-mode);
		border-radius: 2px;
	}

	& .document-search-count.mod-no-match {
		color: var(--text-error);
	}
}
